* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* banner style  */
.banner {
  background-image: url("./images/banner/banner1.png");
  height: 100vh;
  text-align: right;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 215px;
  padding-right: 230px;
  padding-bottom: 165px;
}
.banner-title {
  color: #151414;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}
.banner-description {
  text-align: right;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
.contact-btn {
  border-radius: 5px;
  background: #f15b22;
  color: white;
  padding: 20px 25px;
  border: none;
}
/* failure section style  */
.failure-section {
  display: flex;
  align-items: center;
  gap: 90px;
  margin: 0px 150px 100px;
  padding-top: 0px;
}
/* .section-photo-container {
  width: 527.929px;
  height: 527.929px;
  border-radius: 527.929px;
  background: rgba(241, 91, 34, 0.2);
} */
.section-photo {
  width: 527.929px;
  height: 527.929px;
  border-radius: 527.929px;
  background: rgba(241, 91, 34, 0.2);
  background-size: contain;
}
.failure-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.failure-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}
.list p {
  line-height: 26px;
  margin-bottom: 8px;
}
/* plan section  */
.plan-container {
  display: flex;
  justify-content: space-evenly;
}
.plan-section-title {
  text-align: center;
  margin-bottom: 50px;
}
.plan-content {
  text-align: center;
  margin-bottom: 130px;
}
.plan-section-last-content {
  background-image: url("./images/watch.png"),linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 230px;
  margin-right: 230px;
  height: 280px;
  margin-bottom: 100px;
  border-radius: 8px;
}
.plan-section-last-content div {
  padding: 60px;
  color: #0a0909;
}
.plan-section-last-content > h1 {
  font-size: 40px;
  font-weight: 700;
}
.call-btn {
  margin-top: 20px;
  border-radius: 5px;
  background: #fff;
  padding: 20px 25px;
  border: none;
  color: red;
  font-weight: bold;
}
